# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# ignore an auto generated huge file (ali)
java_pid10516.hprof

# ignore an auto generated huge file (ali)
java_pid6708.hprof
